- add_to_breadcrumbs _("Tags"), project_tags_path(@project)
- breadcrumb_title @tag.name
- page_title _("Edit"), @tag.name, _("Tags")

.sub-header-block.no-bottom-space
  .oneline
    .title
      Release notes for tag
      %strong= @tag.name

= form_for(@release, method: :put, url: project_tag_release_path(@project, @tag.name),
            html: { class: 'common-note-form release-form js-quick-submit' }) do |f|
  = render layout: 'shared/md_preview', locals: { url: preview_markdown_path(@project), referenced_users: true } do
    = render 'shared/zen', f: f, attr: :description, classes: 'note-textarea', placeholder: "Write your release notes or drag files here…"
    = render 'shared/notes/hints'
  .error-alert
  .gl-mt-5.gl-display-flex
    = f.submit _('Save changes'), class: 'btn gl-button btn-confirm gl-mr-3'
    = link_to "Cancel", project_tag_path(@project, @tag.name), class: "btn gl-button btn-default btn-cancel"
