= form_for @label, as: :label, url: url, html: { class: 'label-form js-quick-submit js-requires-input' } do |f|
  = form_errors(@label)

  .form-group.row
    .col-sm-2.col-form-label
      = f.label :title
    .col-sm-10
      = f.text_field :title, class: "form-control js-label-title qa-label-title", required: true, autofocus: true
    = render_if_exists 'shared/labels/create_label_help_text'

  .form-group.row
    .col-sm-2.col-form-label
      = f.label :description
    .col-sm-10
      = f.text_field :description, class: "form-control js-quick-submit qa-label-description"
  .form-group.row
    .col-sm-2.col-form-label
      = f.label :color, "Background color"
    .col-sm-10
      .input-group
        .input-group-prepend
          .input-group-text.label-color-preview &nbsp;
        = f.text_field :color, class: "form-control qa-label-color"
      .form-text.text-muted
        Choose any color.
        %br
        Or you can choose one of the suggested colors below
      = render_suggested_colors
  .form-actions
    - if @label.persisted?
      = f.submit _('Save changes'), class: 'btn gl-button btn-confirm js-save-button'
    - else
      = f.submit 'Create label', class: 'btn gl-button btn-confirm js-save-button qa-label-create-button'
    = link_to 'Cancel', back_path, class: 'btn gl-button btn-default btn-cancel'
